<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{{ page.title }} | PIG</title>

    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href = "img/favicon.ico">
</head>

<body>
<div id="container">
    <div class="hgroup">
        <h1><a href="index.html">PIG<img id="logo" src="img/header-pig.png" alt="PIG" /></a></h1>
        <h2>Packet Inspection Guru</h2>
    </div>
    <nav>
        <ul>
                <li id="what">
                        <a href="what.html">What</a>
                </li>
                <li id="why">
                        <a href="why.html">Why</a>
                </li>
                <li id="use">
                        <a href="use.html">Use</a>
                </li>
                <li id="code">
                        <a href="code.html">Code</a>
                </li>
                <li id="who">
                        <a href="who.html">Who</a>
                </li>
        </ul>
        <map name="nav"><area shape="poly" alt="What?" title="What?" coords="142,3,156,44,150,92,227,92,224,31,235,12,197,12" href="what.html" /><area shape="poly" alt="Why?" title="Why?" coords="240,11,227,41,228,93,278,93,300,58,320,52,297,8,286,-3" href="why.html" /><area shape="poly" alt="Use?" title="Use?" coords="229,96,236,149,251,172,289,170,321,110,314,103,288,105,272,91" href="use.html" /><area shape="poly" alt="Code?" title="Code?" coords="104,152,153,90,225,94,237,156,199,175,139,168" href="code.html" /><area shape="poly" alt="Who?" title="Who?" coords="130,3,148,22,153,56,136,107,82,168,46,164,42,85,55,43,93,12" href="who.html" /></map>
    </nav>

    {{ content }}

</div>
</body>
</html>
