/*
 *base.css
 *
 *for base.html, the basic template used for honeynet web-based gui
 *
 */

body {
    /* 60px to make the container go all the way to the bottom of the topbar */
    padding-top: 60px;    
}

/*basic table structure*/
table {
    table-layout: fixed;
}
table th, td {
    overflow:hidden
}

/*main table for holding list of attacks/packets*/
table#main_table {
}
#main_table th {
    background-color: #ffffff;
    cursor: default;
}
#main_table td:hover {
    cursor: pointer;
}

/*attack info table displaying attack details*/
table#attack_info {
}
#attack_info td {
    padding: 8px;
}
