/*
 *base.css
 *
 *for base.html, the basic template used for honeynet web-based gui
 *
 */

body {
    /* 60px to make the container go all the way to the bottom of the topbar */
    padding-top: 60px;    
}

/*basic table structure*/
table {
    table-layout: fixed;
}
table th, td {
    overflow:hidden
}

/*main table for holding list of attacks/packets*/
table#main_table {
}
#main_table tr:hover {
    cursor: pointer;
}
#main_table td#aid{
    text-align: center;
    width: 4%;
}
#main_table td#attack_type{
    text-align: center;
    width: 10%;
}
#main_table td#start_time{
    text-align: center;
    width: 20%;
}
#main_table td#end_time{
    text-align: center;
    width: 20%;
}
#main_table td#source_ip{
    text-align: center;
    width: 15%;
}
#main_table td#destination_ip{
    text-align: center;
    width: 15%;
}
#main_table td#score{
    text-align: center;
    width: 10%;
}

table#table_header{
   width: 100%;
}
#table_header th#aid{
    width: 4%;
    text-align: center;
}
#table_header th#attack_type{
    width: 10%;
}
#table_header th#start_time{
    width: 20%;
}
#table_header th#end_time{
    width: 20%;
}
#table_header th#source_ip{
    width: 15%;
}
#table_header th#destination_ip{
    width: 15%;
}
#table_header th#score{
    width: 10%;
}
#table_header th#scroll_space{
    width: 16px;
}

div#table_holder{
    overflow: auto;
    height: 300px;
    width: 100%
}
