/*
 *index.css
 *
 *for index.html, sets main table row colors according to threat level
 *and associated hover colors
 *
 */

img {
    max-height: 250px;
    width: auto;
    overflow: hidden;
}

#plot{
    height: 250px;
    width: auto;
}

#form_label{
    text-align: right;
}

#main_table td#aid{
    text-align: center;
    width: 4%;
}
#main_table td#attack_type{
    text-align: center;
    width: 10%;
}
#main_table td#start_time{
    text-align: center;
    width: 20%;
}
#main_table td#end_time{
    text-align: center;
    width: 20%;
}
#main_table td#source_ip{
    text-align: center;
    width: 15%;
}
#main_table td#destination_ip{
    text-align: center;
    width: 15%;
}
#main_table td#score{
    text-align: center;
    width: 10%;
}

#main_table tr#none{
    background-color: #ffffff;
}
#main_table tr#none:hover{
    background-color: #c0c0c0;
}
#main_table tr#low {
    background-color: #ffff7f;
}
#main_table tr#low:hover {
    background-color: #ffcc00;
}
#main_table tr#medium {
    background-color: #ffcc66;
}
#main_table tr#medium:hover {
    background-color: #ff6600;
}
#main_table tr#high {
    background-color: #ff7f7f;
}
#main_table tr#high:hover {
    background-color: #ff1919;
}

#table_header th#aid{
    width: 4%;
    text-align: center;
}
#table_header th#attack_type{
    width: 10%;
    text-align: center;
}
#table_header th#start_time{
    width: 20%;
    text-align: center;
}
#table_header th#end_time{
    width: 20%;
    text-align: center;
}
#table_header th#source_ip{
    width: 15%;
    text-align: center;
}
#table_header th#destination_ip{
    width: 15%;
    text-align: center;
}
#table_header th#score{
    width: 10%;
    text-align: center;
}
#table_header th#scroll_space{
    width: 16px;
    text-align: center;
}

table#secondary_table{
}
#secondary_table th#type{
    width: 10%;
    text-align: center;
}
#secondary_table th#last{
    width: 25%;
    text-align: center;
}
#secondary_table th#avg{
    width: 10%;
    text-align: center;
}
#secondary_table th#high{
    width: 10%;
    text-align: center;
}
#secondary_table th#perAttack{
    width: 15%;
    text-align: center;
}
#secondary_table th#perTraffic{
    width: 15%;
    text-align: center;
}
#secondary_table th#perFalse{
    width: 15%;
    text-align: center;
}
#secondary_table td#type{
    width: 10%;
    text-align: center;
}
#secondary_table td#last{
    width: 25%;
    text-align: center;
}
#secondary_table td#avg{
    width: 10%;
    text-align: center;
}
#secondary_table td#high{
    width: 10%;
    text-align: center;
}
#secondary_table td#perAttack{
    width: 15%;
    text-align: center;
}
#secondary_table td#perTraffic{
    width: 15%;
    text-align: center;
}
#secondary_table td#perFalse{
    width: 15%;
    text-align: center;
}
