/*
 *index.css
 *
 *for index.html, sets main table row colors according to threat level
 *and associated hover colors
 *
 */

#filter_label{
    text-align: right;
}

#main_table tr#none{
    background-color: #ffffff;
}
#main_table tr#none:hover{
    background-color: #c0c0c0;
}
#main_table tr#low {
    background-color: #ffff7f;
}
#main_table tr#low:hover {
    background-color: #ffcc00;
}
#main_table tr#medium {
    background-color: #ffcc66;
}
#main_table tr#medium:hover {
    background-color: #ff6600;
}
#main_table tr#high {
    background-color: #ff7f7f;
}
#main_table tr#high:hover {
    background-color: #ff1919;
}
