{% extends "base.html" %}

{% block stylesheets %}
    <link href = "{{ STATIC_URL }}css/attack.css" rel = "stylesheet" type = "text/css">
{% endblock %}

{% block top_row %}
    <div class = "span4">
        <div class = "well">
            <!--Attack Details-->
            <table class = "table-condensed" id = "attack_info">
                <thead>
                    <tr>
                        <th>Attack Information</th>
                        <th id = "aid">{{ attack_id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Type:</td>
                        <td id = "type"></td>
                    </tr>
                    <tr>
                        <td>Start Time:</td>
                        <td id = "start"></td>
                    </tr>
                    <tr>
                        <td>End Time:</td>
                        <td id = "end"></td>
                    </tr>
                    <tr>
                        <td>Source IP:</td>
                        <td id = "source"></td>
                    </tr>
                    <tr>
                        <td>Dest IP:</td>
                        <td id = "destination"></td>
                    </tr>
                    <tr>
                        <td>Threat Level:</td>
                        <td id = "level"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id = "falsePositive" type = "checkbox" onclick = "updateFalsePositive(this)"/> False Positive
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- well -->
    </div> <!-- span4 -->

    <div class = "span8">
        <div class = "well" id = "payload">
            <!-- Payload of selected packet -->
            <h4>Packet Payload</h4>
            <p id = "payload_info">no packet selected</p>
        </div>
    </div>
{% endblock %}

{% block bottom_row %}
    <table id = "table_header">
        <thead>
            <tr>
                <th id = "pid">id</th>
                <th id = "time">time</th>
                <th id = "srcIp">src ip</th>
                <th id = "srcMac">src mac</th>
                <th id = "srcPort">src port</th>
                <th id = "destIp">dest ip</th>
                <th id = "destMac">dest mac</th>
                <th id = "destPort">dest port</th>
                <th id = "protocol">protocol</th>
                <th id = "scroll_space"></th>
            </tr>
        </thead>
    </table>
    <div id = "table_holder">
        <table class = "table" id = "main_table">            
            <tbody data-bind = "foreach: packets">
                <tr>
                    <td id = "pid" data-bind = "text: pid"></td>
                    <td id = "time" data-bind = "text: time"></td>
                    <td id = "srcIp" data-bind = "text: srcIp"></td>
                    <td id = "srcMac" data-bind = "text: srcMac"></td>
                    <td id = "srcPort" data-bind = "text: srcPort"></td>
                    <td id = "destIp" data-bind = "text: destIp"></td>
                    <td id = "destMac" data-bind = "text: destMac"></td>
                    <td id = "destPort" data-bind = "text: destPort"></td>
                    <td id = "protocol" data-bind = "text: protocol"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}    
    <!-- For knockout -->
    <script src = "{{ STATIC_URL }}js/knockout-2.0.0.js"></script>
    
    <!-- to decode base64 to ascii -->
    <script src = "{{ STATIC_URL }}js/base64_decode.js"></script>
    
    <!-- attack.js -->
    <script src = "{{ STATIC_URL }}js/attack.js"></script>

{% endblock %}
