{% extends "base.html" %}

{% block stylesheets %}
    <link href = "{{ STATIC_URL }}css/attack.css" rel = "stylesheet" type = "text/css">
{% endblock %}

{% block top_row %}
    <div class = "span4">
        <div class = "well">
            <!--Attack Details-->
            <table class = "table-condensed" id = "attack_info">
                <thead>
                    <tr>
                        <th>Attack Information</th>
                        <th id = "aid">{{ attack_id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Type:</td>
                        <td id = "type"></td>
                    </tr>
                    <tr>
                        <td>Start Time:</td>
                        <td id = "start"></td>
                    </tr>
                    <tr>
                        <td>End Time:</td>
                        <td id = "end"></td>
                    </tr>
                    <tr>
                        <td>Source IP:</td>
                        <td id = "source"></td>
                    </tr>
                    <tr>
                        <td>Dest IP:</td>
                        <td id = "destination"></td>
                    </tr>
                    <tr>
                        <td>Threat Level:</td>
                        <td id = "level"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id = "falsePositive" type = "checkbox"/> False Positive
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- well -->
    </div> <!-- span4 -->

    <div class = "span8">
        <div class = "well" id = "payload">
            <!-- Payload of selected packet -->
            <h4>Packet Payload</h4>
            <p id = "payload_info">no packet selected</p>
        </div>
    </div>
{% endblock %}

{% block bottom_row %}
     <table class = "table sortable" id = "main_table">
        <thead>
            <tr>
                <th style = "width: 5%">id</th>
                <th style = "width: 20%">time</th>
                <th style = "width: 15%">src ip</th>
                <th style = "width: 15%">src mac</th>
                <th style = "width: 5%">src port</th>
                <th style = "width: 15%">dest ip</th>
                <th style = "width: 15%">dest mac</th>
                <th style = "width: 5%">dest port</th>
                <th style = "width: 5%">protocol</th>
            </tr>
        </thead>
        <tbody data-bind = "foreach: packets">
            <tr>
                <td id = "idCol" data-bind = "text: pid"></td>
                <td id = "timeCol" data-bind = "text: time"></td>
                <td id = "srcIpCol" data-bind = "text: srcIp"></td>
                <td id = "srcMacCol" data-bind = "text: srcMac"></td>
                <td id = "srcPortCol" data-bind = "text: srcPort"></td>
                <td id = "destIpCol" data-bind = "text: destIp"></td>
                <td id = "destMacCol" data-bind = "text: destMac"></td>
                <td id = "destPortCol" data-bind = "text: destPort"></td>
                <td id = "protocolCol" data-bind = "text: protocol"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascript %}    
    <!-- For knockout -->
    <script src = "{{ STATIC_URL }}js/knockout-2.0.0.js"></script>
    
    <!-- attack.js -->
    <script src = "{{ STATIC_URL }}js/attack.js"></script>

{% endblock %}
