{% extends "base.html" %}

{% block stylesheets %}
    <link href = "{{ STATIC_URL }}css/attack.css" rel = "stylesheet" type = "text/css">
{% endblock %}

{% block top_row %}
    <div class = "span4">
        <div class = "well">
            <!--Attack Details-->
            <table class = "table-condensed" id = "attack_info">
                <thead>
                    <tr>
                        <th>Attack Information</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Type:</td>
                        <td>{{ attack.attack_type }}</td>
                    </tr>
                    <tr>
                        <td>Start Time:</td>
                        <td>{{ attack.start_time }}</td>
                    </tr>
                    <tr>
                        <td>End Time:</td>
                        <td>{{ attack.end_time }}</td>
                    </tr>
                    <tr>
                        <td>Source IP:</td>
                        <td>{{ attack.source_ip }}</td>
                    </tr>
                    <tr>
                        <td>Dest IP:</td>
                        <td>{{ attack.destination_ip }}</td>
                    </tr>
                    <tr>
                        <td>Threat Level:</td>
                        <td>{{ attack.score }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id = "falsePositive" type = "checkbox" /> False Positive
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- well -->
    </div> <!-- span4 -->

    <div class = "span8">
        <div class = "well" id = "payload">
            <!-- Payload of selected packet -->
            <h4>Packet Payload</h4>
            <p id = "payload_info">no packet selected</p>
        </div>
    </div>
{% endblock %}

{% block bottom_row %}
     <table class = "table sortable" id = "main_table">
        <thead>
            <tr>
                <th style = "width: 5%">id</th>
                <th style = "width: 20%">time</th>
                <th style = "width: 15%">src ip</th>
                <th style = "width: 15%">src mac</th>
                <th style = "width: 5%">src port</th>
                <th style = "width: 15%">dest ip</th>
                <th style = "width: 15%">dest mac</th>
                <th style = "width: 5%">dest port</th>
                <th style = "width: 5%">protocol</th>
            </tr>
        </thead>
        <tbody>
            {% if packet_list %}
                {% for packet in packet_list %}
                    <tr>
                        <td id = "idCol">{{ packet.packet_id }}</td>
                        <td id = "timeCol">{{ packet.time }}</td>
                        <td id = "srcIpCol">{{ packet.source_ip }}</td>
                        <td id = "srcMacCol">{{ packet.source_mac }}</td>
                        <td id = "srcPortCol">{{ packet.source_port }}</td>
                        <td id = "destIpCol">{{ packet.destination_ip }}</td>
                        <td id = "destMacCol">{{ packet.destination_mac }}</td>
                        <td id = "destPortCol">{{ packet.destination_port }}</td>
                        <td id = "protocolCol">{{ packet.protocol }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No packets found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <!-- temporary, until we move past django objects
    <script src="{{ STATIC_URL }}js/attack.js"></script>
    -->
    
    <script>
        $(document).ready(function() {
            $('#main_table td').click(function(event) {
                var pid = $(this).parent().children('#idCol').text();
                
                {% for packet in packet_list %}
                    if(pid == {{ packet.id }}){
                        $('#payload_info').text('{{ packet.payload }}');
                    }
                {% endfor %}
            });
        });
    </script>
{% endblock %}
