{% extends "base.html" %}

{% block stylesheets %}
    <link href = "{{ STATIC_URL }}css/index.css" rel = "stylesheet" type = "text/css">
{% endblock %}

{% block top_row %}
    <div class = "span8">
        <div id = "placeholder" style="width:95%;height:300px;">
        </div>
    </div>

    <div class = "span4">
        <!--Attack Details-->
        <div class = "row">
            <div class = "well">
                <table id = "attack_info">
                    <thead>
                        <tr>
                            <th>Attack Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td id = "type">No attack selected.</td>
                        </tr>
                        <tr>
                            <td>Start Time:</td>
                            <td id = "start"></td>
                        </tr>
                        <tr>
                            <td>End Time:</td>
                            <td id = "end"></td>
                        </tr>
                        <tr>
                            <td>Source IP:</td>
                            <td id = "source"></td>
                        </tr>
                        <tr>
                            <td>Destination IP:</td>
                            <td id = "dest"></td>
                        </tr>
                        <tr>
                            <td>Threat Level:</td>
                            <td id = "score"></td>
                        </tr>
                    </tbody>                                 
                </table>
            </div> <!-- well -->
        </div> <!-- row -->
            
        <!--Button to go to attack packets-->
        <div class = "row">
            <div class = "btn-group">
                <a class = "btn" id = "attack_button" href = "attack/">see attack packets</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_row %}
    <!--Tabs-->
    <ul class = "nav nav-tabs">
        <li class = "active">
            <a href = "#attacks" data-toggle = "tab">Attacks</a>
        </li>
        <li>
            <a href = "#traffic" data-toggle = "tab">Traffic Analysis</a>
        </li>
    </ul>
    
    <!--Tab contents-->
    <div class = "tab-content">
        <!--Attacks tab contents-->
        <div class = "tab-pane active" id = "attacks">
            <table id = "main_table" class = "table sortable">
                <thead>
                    <tr>
                        <th style = "width: 4%">ID</th>
                        <th style = "width: 24%">Time</th>
                        <th style = "width: 24%">Source IP</th>
                        <th style = "width: 24%">Attack Type</th>
                        <th style = "width: 24%">Threat Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% if attack_list %}
                        {% for attack in attack_list %}
                            <tr id = "{% if attack.score > 500 %}high{% else %}{% if attack.score > 100 %}medium{% else %}low{% endif %}{% endif %}">
                                <td id = "idCol">{{ attack.id }}</td>
                                <td id = "timeCol">{{ attack.start_time }}</td>
                                <td id = "sourceCol">{{ attack.source_ip }}</td>
                                <td id = "typeCol">{{ attack.attack_type }}</td>
                                <td id = "scoreCol">{{ attack.score }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No attacks found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        <!--Traffic Analysis tab contents-->
        <div class = "tab-pane" id = "traffic">
            <h2>Coming soon</h2>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- For flot-->
    <script src="{{ STATIC_URL }}flot/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.resize.js"></script>
    
    <!-- temporary, until we move past django objects
    <script src="{{ STATIC_URL }}js/index.js"></script>
    -->
    
    <script>
        $(function () {
            var d1 = [];
            for (var i = 0; i < 14; i += 0.5)
                d1.push([i, Math.sin(i)]);

            var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

            // a null signifies separate line segments
            var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];

            var placeholder = $("#placeholder");
            
            var plot = $.plot(placeholder, [d1, d2, d3]);

            placeholder.resize(function () {
            });
        });

        //Function that handles clicking of rows on attack table
        $(document).ready(function() {
            $('#main_table td').click(function(event) {
                var aid = $(this).parent().children('#idCol').text();
                
                {% for attack in attack_list %}
                    if(aid == {{ attack.id }}){
                        $('#type').text('{{ attack.attack_type }}');
                        $('#start').text('{{ attack.start_time }}');
                        $('#end').text('{{ attack.end_time }}');
                        $('#source').text('{{ attack.source_ip }}');
                        $('#dest').text('{{ attack.destination_ip }}');
                        $('#score').text('{{ attack.score }}');
                    }
                {% endfor %}
                
                $('#attack_button').attr('href', 'attack/' + aid);
            });
        });
    </script>
{% endblock %}
