{% extends "base.html" %}

{% block stylesheets %}
    <link href = "{{ STATIC_URL }}css/index.css" rel = "stylesheet" type = "text/css">
{% endblock %}

{% block top_row %}
    <div class = "span8">
        <div id = "placeholder" style="width:95%;height:300px;">
        </div>
    </div>

    <div class = "span4">
        <!--Attack Details-->
        <div class = "row">
            <div class = "well">
                <table id = "attack_info">
                    <thead>
                        <tr>
                            <th>Attack Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td id = "type">No attack selected.</td>
                        </tr>
                        <tr>
                            <td>Start Time:</td>
                            <td id = "start"></td>
                        </tr>
                        <tr>
                            <td>End Time:</td>
                            <td id = "end"></td>
                        </tr>
                        <tr>
                            <td>Source IP:</td>
                            <td id = "source"></td>
                        </tr>
                        <tr>
                            <td>Destination IP:</td>
                            <td id = "dest"></td>
                        </tr>
                        <tr>
                            <td>Threat Level:</td>
                            <td id = "score"></td>
                        </tr>
                    </tbody>                                 
                </table>
            </div> <!-- well -->
        </div> <!-- row -->
            
        <!--Button to go to attack packets-->
        <div class = "row">
            <div class = "btn-group">
                <a class = "btn" id = "attack_button">see attack packets</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_row %}
    <!--Tabs-->
    <ul class = "nav nav-tabs">
        <li class = "active">
            <a href = "#attacks" data-toggle = "tab">Attacks</a>
        </li>
        <li>
            <a href = "#traffic" data-toggle = "tab">Traffic Analysis</a>
        </li>
    </ul>
    
    <!--Tab contents-->
    <div class = "tab-content">
        <!--Attacks tab contents-->
        <div class = "tab-pane active" id = "attack_tab">
            <table id = "main_table" class = "table sortable">
                <thead>
                    <tr>
                        <th style = "width: 4%">ID</th>
                        <th style = "width: 24%">Attack Type</th>
                        <th style = "width: 24%">Time</th>
                        <th style = "width: 24%">Source IP</th>
                        <th style = "width: 24%">Threat Level</th>
                    </tr>
                </thead>
                <tbody id = "main_body" data-bind = "foreach: attacks">
                    <tr data-bind = "attr: { id: level }">
                        <td id = "aid" data-bind = "text: aid"></td>
                        <td id = "attack_type"data-bind = "text: attackType"></td>
                        <td id = "time" data-bind = "text: time"></td>
                        <td id = "source_ip" data-bind = "text: sourceIp"></td>
                        <td id = "threat_level" data-bind = "text: threatLevel"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!--Traffic Analysis tab contents-->
        <div class = "tab-pane" id = "traffic_analysis_tab">
            <h2>Coming soon</h2>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- For flot-->
    <script src = "{{ STATIC_URL }}flot/jquery.flot.js"></script>
    <script src = "{{ STATIC_URL }}flot/jquery.flot.resize.js"></script>
    
    <!-- For knockout -->
    <script src = "{{ STATIC_URL }}js/knockout-2.0.0.js"></script>
    
    <!-- index.js -->
    <script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
